.textAreaStyle{
    width: 500px;
    border-radius: 12px;
    height: 163px;
   
    
    margin-top: 25px;
    margin-bottom: 49px;
  }
  
  .buttonStyle{
    padding: 10px;
    border-radius: 11px;
    font-weight: bold;
    border-width: 4px;
    margin-left: -334px;
  }
  .box {
  display: flex;
  justify-content: space-evenly

  }
  .listen
  {
    margin-left: 20px;
    background-color: verde;
  }
 
  .input {
 visibility: hidden;
  }

  .me_box{
 padding-top:30px ;
 padding-left: 5px;
   width: 490px;
   border-radius: 12px;
   height: 133px;
   margin-top: 48px;
    margin-bottom: 49px;
    border: black solid 0.5px;
  }
  .ask {
    position: absolute;
    left: 50%;
    bottom: 75%;

  }

  .on-off {
    position: absolute;
    left: 45%;
    top: 19%;
  }

  @media screen and (max-width: 800px) {
    .box {
     display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 800px) {
    .ask {
     position: absolute;
      left: 70%;
      bottom: 80%;
    }
  }
  @media screen and (max-width: 800px) {
    .on-off {
     position: absolute;
      left: 43%;
      top: 13.3%;
    }
  }
