.textAreaStyle{
  
    width: 500px;
    border-radius: 12px;
    height: 163px;
   
    
    margin-top: 25px;
    margin-bottom: 49px;
  }
  
  .buttonStyle{
    padding: 10px;
    border-radius: 11px;
    font-weight: bold;
    border-width: 4px;
    margin-left: -334px;
  }
  .box {
  display: flex;
  justify-content: space-evenly

  }
  .listen
  {
    margin-left: 20px;
    background-color: verde;
  }
 
  .input {
 visibility: hidden;
  }

  .me_box{
 padding-top:30px ;
 padding-left: 5px;
   width: 490px;
   border-radius: 12px;
   height: 133px;
   margin-top: 48px;
    margin-bottom: 49px;
    border: black solid 0.5px;
  }
  .ask {
    position: absolute;
    left: 48%;
    bottom: 65%;
    width: 62px;
    height: 60px;
   
    border-radius: 50%;
    font-size: 20px;
    color: green;
    text-align: center;
    background: green

  }

  .on-off {
    position: absolute;
    left: 42%;
    top: 19%;
  }
  .loader{

    position: absolute;
    left: 70%;
    top: 29%;
  }
  .micro {
    position: absolute;
    right: -27%;
    bottom: -5%;
      width: 40px;
      height: 40px;
      line-height: 500px;
      border-radius: 50%;
      font-size: 50px;
      
      text-align: center;
      background-color: rgba(255, 255, 255, .100);
     
      
      
     
      
      
    
  }
 
 

  @media screen and (max-width: 800px) {
    .box {
     display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 800px) {
    .ask {
     position: absolute;
      left: 100%;
      bottom: 56%;
    }
  }
  @media screen and (max-width: 800px) {
    .on-off {
     position: absolute;
      left: 83%;
      top: 33.3%;
    }
  }
